{% extends "money/base.html" %}
{% block title %}.money{% endblock %}

{% block content %}

<h1>.money</h1>
    <div id="for_1">
        <h3>Доходы:</h3>
        {% for money in obj_data %}
            {{ money.title}}: {{ money.amount }} р.
        <br>
        {% endfor %}

        {% if new_profit %}
        <h2>Ваш доход добавлен</h2>
        {% else %}
        <form action="." method="post">
            {{ make_profit.as_p }}
            {% csrf_token %}
            <p><input type="submit" name="profit" value="Приход"></p>
        </form>
        {% endif %}
    </div>

    <div id="for_2">
        <h3>Расходы:</h3>
        {% for exp in expenses_data %}
            {{ exp.title }}: {{ exp.amount }}
        <br>
        {% endfor %}

        {% if new_expenses %}
        <h2>Ваш расход добавлен</h2>
        {% else %}
        <form action="." method="post">
            {{ make_expenses.as_p }}
            {% csrf_token %}
            <p><input type="submit" name="expense" value="Расход"></p>
        </form>
        {% endif %}
    </div>

{% endblock %}